/*Common Navbar*/

.navbar {
  padding: 0;
}

.name-nav {
  color: white;
  font-size: 38px;
  text-decoration: none;
  font-family: "Caveat", cursive;
}

.navbar-nav li a {
  color: #555555;
}

.navbar li {
  font-weight: bolder;
  padding: 0;
}
.fa-connectdevelop {
  color: black;
  font-size: 40px;
}

.fa-connectdevelop:hover {
  color: white;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 6.25%;
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-toggler-icon {
  font-weight: bolder;
  color: white;
}

/*Common footer*/
footer {
  text-align: center;
  padding: 25px 0;
  margin-top: 230px;
  margin-bottom: 0px;
  font-size: 30px;
  color: black;
  background-color: #242329;
}

footer a {
  padding: 30px;
  color: white;
}

hr {
  color: white;
  border: 1px solid;
  padding: 0px;
  margin: 25px 5%;
}

.links-footer {
  padding: 20px;
}

.fa-facebook {
  color: #007cf7;
  background-color: white;
  border-radius: 100%;
}

.fa-instagram {
  line-height: 25px;
  border-radius: 100%;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

a.link-instagram {
  font-family: "Caveat", cursive;
  text-decoration: none;
}

.fa-linkedin {
  color: #0063c2;
  background-color: white;
}

.fa-twitter {
  color: #1c96e8;
}

.open-sourced {
  color: white;
  background: grey;
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-size: 18px;
  margin: 25 0;
  padding: 15px;
}

.source-link {
  padding: 0;
  color: #dbb921;
  font-weight: bolder;
}

/*From here goes on index.html*/
.homepage-row {
  font-family: "Maven Pro", sans-serif;
  margin: 0 auto;
}

.title-name {
  text-align: center;
  color: #353cf7;
  font-family: "Tenor Sans", sans-serif;
  font-size: 8.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.column-image {
  text-align: center;
}

.img-portfolio {
  width: 350px;
  border-radius: 50px;
}

.column-text {
  margin-top: 160px;
  text-align: center;
}

.column-text h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.column-text h5 {
  color: #e6cd7e;
  margin-top: 15px;
}

.column-text p {
  padding: 10px;
  font-family: "Tenor Sans", sans-serif;
  text-align: justify;
}

.card {
  border: 2px solid #83a66a;
  border-radius: 10px;
  font-size: 20px;
}

.card:hover {
  border: 4px solid #bfd65a;
}

/*From here goes on for about.html*/
.about-row {
  align-items: center;
  font-family: "Tenor Sans", sans-serif;
  margin: 0 5%;
  margin-top: 50px;
  padding: 40px;
  padding-top: 0;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.column-img {
  text-align: center;
  margin-top: 110px;
}

.column-img img {
  border-radius: 50px;
}

.column-img h4 {
  margin-top: 30px;
}

.fa-location-dot {
  font-size: 1.5rem;
}

.column-description {
  text-align: center;
}

.column-description h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  margin: 30px auto;
}

.column-description .card {
  text-align: center;
  margin: 0 30px;
  border-radius: 10px;
}

.column-description .card p {
  font-family: "Tenor Sans", sans-serif;
  font-size: 25px;
  margin: 30px 50px;
  text-align: justify;
}

/*From here goes on for projects.html*/
.row-dogs {
  font-family: "Tenor Sans", sans-serif;
  font-size: 25px;
  margin: 0 15%;
  padding: 40px;
  border-top: 10px solid black;
}
.row-dogs p {
  font-size: 25px;
  color: #5e64e9;
}

.row-dogs img {
  max-width: 60%;
}

.row-weather {
  font-family: "Tenor Sans", sans-serif;
  margin: 0 15%;
  padding: 40px;
  border-top: 10px solid black;
}

.row-weather img {
  max-width: 60%;
}

.row-weather p {
  font-size: 25px;
  color: #5e64e9;
}

.row-yogurt {
  font-family: "Tenor Sans", sans-serif;
  margin: 0 15%;
  padding: 88px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.row-yogurt img {
  max-width: 60%;
}

.row-yogurt p {
  font-size: 25px;
  color: #5e64e9;
}

.link-launch {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 15px 15px;
  background-color: #b0a46f;
  border-radius: 8px;
}

.link-launch:hover {
  color: #b0a46f;
  background-color: white;
  border: 1px solid #b0a46f;
}

/*From here goes on for sayhi.html*/
.contact {
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 60px 10%;
  padding: 50px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.contact h2 {
  font-size: 80px;
  margin-bottom: 30px;
  font-family: "Maven Pro", sans-serif;
}

.contact a.fa-paper-plane-top {
  font-size: 80px;
  font-weight: bolder;
  color: #bfd65a;
}

.contact a.email-link {
  font-weight: bolder;
  color: #b0a46f;
}
.contact footer {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  padding: 15px;
  margin: 60px 10%;
  border: 2px;
  border-radius: 20px;
  border-style: dashed solid;
  border-color: #b0a46f;
}

.contact footer a.link-instagram i.fa-instagram {
  line-height: 43px;
  border-radius: 100%;
  color: white;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.count-insta {
  color: black;
}

.contact footer:hover {
  border: 4px #bfd65a;
  border-style: dashed solid;
}
.footer-p {
  padding-top: 90px;
  padding-bottom: 35px;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 30px;
  color: white;
  background-color: #242329;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
}
.sourced-sayhi {
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
